#categorias {
    background-color: $colorFondo;
    .text-center {
        background-color: $colorFondo;
        color: $colorSecundario;
        font-family: sans-serif;
        font-size: 25px;
}
}